body {
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.markerLabel {
    color: red;
    text-align: center;
    position: absolute;
    top: -20px;
    font-size: 20px;
    background-color: yellow;
    /*opacity: .4;*/
    border: 1px solid red;
    width: 47px;
}

.popupmain {
    position: absolute;
    /*top: 35%;
    left: 35%;*/
    color: red;
    text-align: center;
    font-size: 20px;
    background-color: whitesmoke;
    /*opacity: .4;*/
    border: 1px solid red;
    /*width: 300px;*/
    width: auto;
    margin: 10px;
    padding 10px;
}

.sometext{
  margin: 10px;
}

.buttonx{
  margin: 10px;
}
